/*
 * Component
 * Story - Content
 */

.story-content { 
  h4 {
    @extend .title-4;
  }

  p:first-child:first-letter {
    font-family: $font-titles;
    font-size: 60px;
    float: left;
    padding-top: 18px;
    padding-right: 10px;
  }

  p + p {
    margin-top: 12px;
  }

  p + h4 {
    margin-top: 48px;
  }

  h4 + p {
    margin-top: 12px;
  }

  a {
    text-decoration: underline;
    font-style: italic;
  }

  figure {
    margin: 32px  0;
  }

  figure + h4 {
    margin-top: 56px;
  }

  figcaption {
    text-align: center;
    padding: 8px 0;
    color: get-color(text, light);
  }

  hr {
    margin: 48px 0;
    border: 0;
    border-bottom: 1px solid get-color(border, primary);
  }
  
  @include mq-after(medium) {
    p + h4 {
      margin-top: 72px;
    }

    h4 + p {
      margin-top: 20px;
    }

    figure {
      margin: 56px 0 48px;

      & + figure {
        margin-top: -28px;
      }
    }
  }
}