/*
 * Component
 * Story - Content
 */

.story-content {
  p, h2, h3, h4, h5 {
    width: 100%;
  }

  h4 {
    @extend .title-4;
  }

  h5 {
    @extend .title-5;
  }
  
  p:not(.body-large) {
    line-height: 32px;

    figure:first-child {
      margin-top: 40px;
    }

    figure:last-child {
      margin-bottom: 28px;
    }
  }

  p + p {
    margin-top: 12px;
  }

  p + h4,
  p + h5 {
    margin-top: 48px;
  }

  p + ul {
    margin-top: 16px;
  }

  h4 + p,
  h5 + p {
    margin-top: 12px;
  }

  a {
    text-decoration: underline;
    font-style: italic;
  }

  p > figure {
    margin: 10px 0;

    img {
      max-width: calc(100% + 40px);
      margin-left: -20px;
    }
  }

  figure + h4 {
    margin-top: 56px;
  }

  figcaption {
    @extend .caption;
    text-align: center;
    padding: 4px 0;
  }

  hr {
    margin: 48px 0;
    border: 0;
    border-bottom: 1px solid get-color(border, primary);
  }

  ul,
  ol {
    padding-left: 32px;
  }

  li {
    @extend p;
    line-height: 24px;
    list-style: initial;
  }

  .gallery {
    margin: 40px 0;

    .cover {
      margin-bottom: 10px;
    }
    
    img {
      margin-bottom: -7px;
    }

    .grid {
      @include grid(1fr 1fr, $gap: 10px);
    }
  }
  
  @include mq-after(medium) {
    p, h2, h3, h4, h5 {
      width: calc(100% - 40px);
    }

    h4 {
      margin-top: 32px;
    }

    h4 + p {
      margin-top: 20px;
    }

    figcaption {
      padding: 8px 0;
    }

    .gallery {
      width: 850px;
      margin: 56px 0;

      .cover {
        margin-bottom: 12px;
      }

      img[data-action="zoom"] {
        cursor: zoom-in;
      }

      .grid {
        @include grid(1fr 1fr, $gap: 12px);
      }
    }
  }
}