/*
 * Component
 * Story - Header
 */

.story-header {
  padding: 24px 0 32px;

  .header-content {
    margin-bottom: 32px;
  }

  .story-title {
    margin-bottom: 16px;
  }

  .story-intro {
    margin-bottom: 32px;
  }

  .story-category + .story-category {
    @include flex(center, center);

    &::before {
      content: '';
      display: block;
      @include wh(12px, 2px);
      background-color: get-color(text, primary);
      margin: 0 8px;
    }
  }

  .header-cover {
    .container-narrow {
      max-width: 790px;
      padding: 0;
    }
  }

  @include mq-after(medium) {
    text-align: left;
    padding: 56px 0;

    .header-content {
      max-width: $col-6;
      margin-bottom: 72px;
      align-self: center;

      .story-title {
        margin-bottom: 24px;
      }

      .story-intro {
        margin-bottom: 40px;
        line-height: 36px;
        font-weight: 500;
      }
    }
  }
}