/*
 * Component
 * Story - Header
 */

.story-header {
  padding: 40px 0;

  .header-content {
    margin-bottom: 40px;
    text-align: center;
  }

  .story-title {
    max-width: 300px;
    margin-top: 16px;
  }

  .header-cover {
    max-width: $col-8;
  }

  @include mq-after(small) {
    text-align: left;
    padding: 100px 0 56px;

    .header-content {
      max-width: $col-6;
      margin-bottom: 72px;
      align-self: center;

      .story-title {
        max-width: 480px;
        margin-top: 40px;
      }
    }
  }
}