/*
 * Component
 * Story - More
 */

.more-stories {
  padding: 40px 0 80px;

  .section-title {
    margin-bottom: 48px;
  }

  .cards {
    grid-gap: 16px;
    justify-content: center;
    margin-bottom: 32px;
  }

  @include mq-after(small) {
    padding-bottom: 160px;
    
    .cards {
      @include grid(1fr 1fr);
    }
  }
}