/*
 * Base
 * Typography
 */

// Titles
.title {
  font-family: $font-titles;
  font-weight: 900;

  &-1 {
    @extend .title;
    @include font(42, 44, -1.2);
  }

  &-2 {
    @extend .title;
    @include font(36, 36, -1.2);
  }

  &-3 {
    @extend .title;
    @include font(32, 32, -0.6);
  }

  &-4 {
    @extend .title;
    @include font(28, 28, -1);
  }

  &-5 {
    @extend .title;
    @include font(24, 24, -0.21);
  }

  &-6 {
    @extend .title;
    text-transform: uppercase;
    @include font(16, 20, 0);
  }

  @include mq-after(small) {
    &-1 {
      @include font(68, 72, -2.6);
    }

    &-2 {
      @include font(60, 56, -2.4);
    }

    &-3 {
      @include font(42, 40, -1);
    }

    &-4 {
      @include font(32, 32, -0.6);
    }

    &-5 {
      @include font(26, 28, -0.5);
    }
  }
}

// Subtitles
.subtitle {
  font-family: $font-titles;

  &-1 {
    @extend .subtitle;
    @include font(20, 28, -0.3);
  }

  @include mq-after(small) {
    &-1 {
      @include font(24, 32, -0.3);
    }
  }
}

// Body
.body {
  @include font(20, 24, -0.2);

  &-long {
    @include font(20, 32, -0.07);
  }

  &-large {
    @include font(24, 32, -0.4, 400);

    &.-bold {
      @extend .body-large;
      font-weight: 600;
      letter-spacing: -0.6px;
    }
  }

  &-small {
    @include font(16, 24, -0.02);
  }

  @include mq-after(small) {
    @include font(18, 28, -0.09);

    &-large {
      @include font(28, 36, -0.7);
    }
  }
}

p {
  @extend .body;
}

// Caption
.caption {
  @include font(16, 20, -0.2);
}

.category {
  @extend .caption;
  color: get-color(brand, accent);
  text-decoration: underline;
}

// Links
.link {
  font-weight: 700;
  border-bottom: 2px solid get-color(text, primary);
  display: inline-block;
  line-height: 16px;
}

// Buttons
.button-text {
  display: inline-block;
  font-family: $font-titles;
  text-transform: uppercase;
  @include font(14, 12, 0, 900);

  &.-underlined {
    color: get-color(brand, accent);
    transition: all 420ms;

    &::after {
      display: block;
      content: '';
      @include wh(100%, 2px);
      background-image: linear-gradient(90deg, rgba(0,12,190,0.50) 0%, rgba(0,12,190,0.00) 100%);
      margin-top: 2px;
      transition: all 420ms;
    }

    &:hover::after {
      background-image: linear-gradient(90deg, rgba(0,12,190,0.50) 100%, rgba(0,12,190,0.00) 100%);
    }
  }

  &-small {
    @extend .button-text;
    @include font(12, 12, 0.1);
  }

  @include mq-after(small) {
    @include font(14, 12, 0);
  }
}

// Labels
.tag {
  @include font(18, 24, 0, 700);
}

// Transformers
.-accent {
  color: get-color(brand, accent);
}

.-white {
  color: get-color(basic, white);
}
