/*
 * Base
 * Variables
 */

// Fonts
$font-titles: 'Public Sans', system-ui, Helvetica, Roboto, sans-serif;
$font-body: 'Vollkorn';
$text: 400;
$semi: 600;
$bold: 700;

//Layout
$container-width: 1290px;
$container-padding: 20px;
$column-width: 80px;
$gap-width: 30px;
$col-4: ($column-width * 4) + ($gap-width * 3);
$col-5: ($column-width * 5) + ($gap-width * 4);
$col-6: ($column-width * 6) + ($gap-width * 5);
$col-7: ($column-width * 7) + ($gap-width * 6);
$col-8: ($column-width * 8) + ($gap-width * 7);
$col-10: ($column-width * 10) + ($gap-width * 9);

// Colors
@function get-color($main, $variation: null, $palette: null) {
  @if $palette == null {
    $palette: $colors;
  }

  @if $variation {
    @return map-get(map-get($palette, $main), $variation);
  } @else {
    @return map-get($palette, $main);
  }
}

$colors: (
  basic: (
    white: #fff,
    black: #000
  ),
  brand: (
    accent: #000CBE
  ),
  text: (
    primary: #060c1a,
    secondary: #31394b,
    light: #7b8292
  ),
  border: (
    primary: #f0f0f0
  )
);
