---
layout: default

custom_js: [ rolling.js ]
---

<section class="recent-story">
  <div class="container-narrow">
    {% assign story = site.stories.last %}

    <a class="recent-story-preview story-preview" href="{{story.url}}">
      <figure class="story-cover">
        <img src="/assets/images/stories/{{story.title | remove: "’" | slugify}}/cover.jpg" alt="">
      </figure>

      <div class="story-details">
        <div class="story-categories">
          {% for category in story.categories %}
            <p class="story-category label">{{category}}</p>
          {% endfor %}
        </div>
        
        <h1 class="story-title title-2">{{story.title}}</h1>

        <p class="story-intro body-large">{{story.intro}}</p>
        
        <p class="story-action button-text accent underlined">Read Story</p>
      </div>
    </a>
  </div>
  
  <div class="rolling"><div class="top"></div><div class="bottom"></div></div>
</section>

<section class="more-stories">
  <div class="container flex-center-all">
    {% assign stories = site.stories | sort: 'date' | reverse %}
    {% for story in stories | offset: 1 %}
      {% include cards/story-preview.html %}
    {% endfor %}
  </div>
</section>

<section class="view-more">
  <div class="container flex-center-all">
    <a href="/storys" class="button-outline">View More Stories</a>
  </div>
</section>