{% assign feature = include %}

<a class="feature-preview" href="{{ feature.url }}">
  <figure class="feature-cover">
    <img src="/assets/images/features/{{
      feature.title | remove: '’' | slugify
    }}/cover.jpg" alt="">
  </figure>

  <div class="feature-details">
    <div class="feature-categories">
      {% for category in feature.categories %}
      <p class="feature-category label">{{ category }}</p>
      {% endfor %}
    </div>
    <h2 class="feature-title title-2">{{ feature.title }}</h2>
    <p class="feature-action button-text underlined">Read Feature</p>
  </div>
</a>
