

<a class="story-preview {% if include.size == 'small' %}-small{% endif %}" href="{{ story.url }}">
  <figure class="story-cover">
    <img src="{% if story.cover %}{{story.cover}}{% else %}/assets/images/uploads/{{story.title | remove: '’' | slugify}}-cover.jpg{% endif %}">
  </figure>

  <div class="story-details">  
    <div class="story-categories">
      {% for category in story.categories %}
        <p class="story-category category">{{ category }}</p>
      {% endfor %}
    </div>

    <h2 class="story-title title-4">{{ story.title }}</h2>
  </div>
</a>
