/*
 * Component
 * Content
 */

.page-content {
  .image {
    @include wh(100%, $m-width: 380px);
  }

  .text {
    max-width: 484px;
    padding: 56px 0 32px;

    .title {
      margin-bottom: 16px;
    }

    p + p {
      margin-top: 12px;
      text-indent: 12px;
    }
  }

  .contact {
    padding-bottom: 80px;

    * {
      max-width: 278px;
    }

    p {
      margin-bottom: 24px;
    }
  }

  @include mq-after(medium) {
    .content {
      @include grid(1fr 688px);
    }

    .text {
      justify-self: center;
      padding: 80px 0 100px;

      .title {
        margin-bottom: 24px;
      }
    }

    .contact {
      padding-bottom: 140px;
    }
  }
}