/*
 * Layout
 * Page - Home
 */

.page-home {
  
  // .recent-story {
  //   margin-bottom: 32px;
  // }

  .about-teaser {
    margin-bottom: 32px;
  }

  .subscribe {
    margin-bottom: 80px;
  }

  @include mq-after(small) {
    .about-teaser {
      margin: 100px 0 80px 0;
    }
  }

  @include mq-after(medium) {
    .recent-story {
      margin-bottom: 40px;
    }

    .more-stories {
      margin-bottom: 40px;
    }

    .subscribe {
      margin-bottom: 120px;
    }
  }
}