/*
 * Layout
 * Page - Home
 */

.page-home {
  .recent-story {
    margin-bottom: 32px;
  }

  .subscribe {
    margin-bottom: 80px;
  }

  .creatives {
    margin-bottom: 24px;
  }

  @include mq-after(small) {
    .about-teaser {
      margin: 24px 0 40px 0;
    }
  }

  @include mq-after(medium) {
    .recent-story {
      margin-bottom: 80px;
    }

    .more-stories {
      margin-bottom: 80px;
    }

    .subscribe {
      margin-bottom: 120px;
    }
  }
}