/*
 * Component
 * Story Preview
 */

.card-story {
  display: block;
  max-width: $col-6;

  .story-cover {
    margin-bottom: -4px;
  }

  .story-details {
    padding: 20px 16px;

    .story-title {
      max-width: 240px;
      margin-top: 12px;
    }
  }

  @include mq-after(small) {
    .story-details {
      padding: 20px 16px;
  
      .story-title {
        max-width: 240px;
        margin-top: 12px;
      }
    }
  }
}
