/*
 * Component
 * Feature Preview
 */

.feature-preview {
  display: block;
  padding: 24px 0;

  .feature-cover {
    margin-bottom: -4px;
  }

  .feature-details {
    padding-top: 24px;

    .feature-categories {
      margin: -7px 0 8px;
    }

    .feature-title {
      margin-bottom: 16px;
    }
  }
}
