/*
 * Component
 * Story Preview
 */

.story-preview {
  display: block;
  padding: 24px 0;
  max-width: 586px;

  .story-cover {
    margin-bottom: -4px;
  }

  .story-details {
    padding-top: 24px;

    .story-categories {
      @include flex();
      margin-bottom: 8px;
    }

    .story-category + .story-category {
      @include flex(center, center);

      &::before {
        content: '';
        display: block;
        @include wh(12px, 2px);
        background-color: get-color(text, primary);
        margin: 0 8px;
      }
    }

    .story-title + .story-action {
      margin-top: 24px;
    }
  }
}
