/*
 * Component
 * Creatives
 */

.creatives {
  padding: 48px 0 72px;
  display: none;
  
  .section-title {
    margin-bottom: 48px;
  }

  .cards {
    margin-bottom: 32px;
  }

  .card-creative + .card-creative {
    margin-top: 16px;
  }

  @include mq-after(small) {
    .cards {
      @include grid($gap: $gap-width);
    }
  }

  @include mq-after(large) {
    .cards {
      @include grid(repeat(3, 1fr), $gap: $gap-width);
    }

    .card-creative + .card-creative {
      margin-top: 0px;
    }
  }
}