/*
 * Component
 * Recent Story Preview
 */

.recent-story {
  position: relative;

  &-preview {
    position: relative;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-left: -20px;

    .story-details {
      padding: 16px 24px 56px;
      max-width: 260px;
    }

    .story-title {
      margin: 16px 0;
      max-width: 100%;
    }

    .story-cover {
      width: calc(100% + 40px);
      max-width: $col-7;
    }
  }

  @include mq-after(small) {
    &-preview {
      .story-details {
        max-width: $col-4;
      }

      .story-title {
        margin: 24px 0 32px;
      }
    }
  }

  @include mq-after(870px) {
    &-preview {
      @include grid(1fr 1fr);

      .story-details {
        padding: 0;
        align-self: center;
        justify-self: end;
      }

      .story-cover {
        position: relative;
  
        &::before {
          content: '';
          display: block;
          @include wh(80px, 80px);
          @include background('page-home/badge-new-story.png', $size: cover);
          @include pos(-40px, -40px);
          animation: rotate 20s infinite linear;
        }
      }
    }
  }

  @include mq-after(1290px) {
    &-preview {
      @include grid($col-7 $col-5);
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
