/*
 * Component
 * Recent Story Preview
 */

.recent-story-preview {
  display: block;
  position: relative;
  @include wh(100vw, $m-width: 790px);
  padding: 0;

  .story-details {
    padding: 28px 20px;

    .story-categories {
      margin-bottom: 12px;
    }
  }

  &::before {
    content: '';
    display: block;
    @include wh(48px, 48px);
    @include background('misc/stamp-new.svg', $size: 100%);
    @include pos(-36px, 20px);
    transform: rotate(30deg);
  }
}