/*
 * Component
 * Recent Story Preview
 */

.recent-story {
  position: relative;
  overflow: hidden;
  
  &-preview {
    display: block;
    position: relative;
    @include wh(calc(100% + 40px), $m-width: 870px);
    padding: 0;
    margin-left: -20px;

    .story-details {
      padding: 28px 20px;
      max-width: 646px;
    }

    .story-title {
      margin: 8px 0 6px;
    }

    .story-intro {
      margin-bottom: 24px;
    }

    &::before {
      content: '';
      display: block;
      @include wh(48px, 48px);
      @include background('misc/stamp-new.svg', $size: 100%);
      @include pos(-36px, 20px);
      transform: rotate(30deg);
    }
  }

  @include mq-after(870px) {
    &-preview {
      width: 100%;
      margin-left: 0;
    }
  }

  @include mq-after(medium) {
    &-preview {
      .story-details {
        margin: auto;
        padding: 48px 0 56px;

        .story-title {
          margin: 16px 0 12px;
        }
      }

      &::before {
        display: none;
      }
    }

    .rolling {
      @include wh(calc(100% + 60px), 138px);
      @include pos(200px, $left: -30px, $z: -1);
      @include flex(space-between, $direction: column);
      transform: rotate(-4deg);

      .top,
      .bottom {
        @include wh(100%, 66px);
      }

      .top {
        @include background('page-home/rolling-new.png', $size: contain, $repeat: repeat-x);
      }

      .bottom {
        @include background('page-home/rolling-story.png', $size: contain, $repeat: repeat-x);
      }
    }
  }
}