/*
 * Component
 * Home - Subscribe
 */

.subscribe {
  .card {
    padding: 56px 40px 64px;
    background-color: #F7F8FF;
  }

  .section-title {
    max-width: 260px;
    margin-bottom: 32px;
  }

  input {
    width: 100%;
  }

  .name {
    margin-bottom: 8px;
  }

  .email {
    margin-bottom: 16px;
  }

  @include mq-after(small) {
    .card {
      padding: 80px;
    }

    .section-title {
      max-width: 300px;
    }

    .form-subscribe {
      @include grid(1fr 1fr 102px, $gap: 0);
      align-items: center;
    }

    .name {
      margin-bottom: 0;
      border-right: 0;
    }
  
    .email {
      margin-bottom: 0;
    }

    .button {
      padding-left: 0;
      padding-right: 0;
    }
  }
}