/*
 * Component
 * (General) Page Header
 */

.page-header {
  padding: 56px 0 48px;
  text-align: center;

  .page-intro {
    margin-top: 16px;
  }

  @include mq-after(small) {
    padding: 120px 0;

    .page-intro {
      margin-top: 24px;
    }
  }
}