/*
 * Component
 * (General) Page Header
 */

.page-header {
  padding: 80px 0 100px;
  text-align: center;

  .page-intro {
    margin-top: 12px;
    max-width: $col-6;
  }

  @include mq-after(small) {
    padding: 120px 0;

    .page-intro {
      margin-top: 24px;
    }
  }
}