/*
 * Component
 * Site - Footer
 */

.footer-main {
  position: relative;
  background-color: get-color(basic, black);

  .container {
    padding-top: 100px;
    padding-bottom: 88px;
  }

  .menu-footer {
    margin-bottom: 32px;
  }

  .menu-link {
    margin: 0 20px;
  }
  
  .social-buttons {
    .button-social {
      margin: 0 10px;
    }
  }

  @include mq-after(medium) {
    .container {
      padding-top: 80px;
      padding-bottom: 80px;
    }

    .social-buttons {
      align-self: center;
      justify-self: end;
    }
  }
}