/*
 * Component
 * Site - Header
 */

.header-main {
  padding: 64px 0;

  .button-menu {
    @include pos($pos: absolute, $right: 20px, $z: 100);
  }

  .logo {
    @include pos($pos: relative, $z: 100);
    justify-self: center;
  }

  @include mq-after(small) {
    padding: 40px 0;

    .container {
      @include grid(200px 1fr, $align: center);
    }

    .logo {
      justify-self: start;
    }

    .menu-main {
      justify-self: end;
      order: 1;
    }

    .button-menu {
      display: none;
    }
  }
}