/*
 * Component
 * Site - Header
 */

.header-main {
  &-mobile {
    padding: 64px 0;

    .button-menu {
      @include pos($pos: absolute, $right: 20px, $z: 100);
    }

    .logo {
      @include pos($pos: relative, $z: 100);
    }
  }

  @include mq-after(small) {
    .logo {
      justify-self: center;
    }

    .menu-main,
    .menu-socials {
      align-self: center;
    }

    .menu-socials {
      justify-self: end;
    }

    .button-menu {
      display: none;
    }
  }
}