/*
 * Component
 * Menu
 */

.menu-main {
  @include mq-before(small) {
    @include wh(100%, 100vh);
    background-color: white;
    @include pos(-100vh, $left: 0, $z: 10);
    @include flex($align: center, $direction: column);
    padding-top: 136px;
    transition: all 320ms 0.3s;
    visibility: hidden;

    .menu-link {
      @include font(22, 24, -0.1);
      margin-bottom: 40px;
      opacity: 0;
      transition: opacity 0.1s;
    }

    &.open {
      top: 0;
      transition: all 320ms;
      visibility: visible;

      .menu-link {
        opacity: 1;
        transition: opacity 0.4s 0.3s;
      }
    }
  }

  @include mq-after(small) {
    @include flex();

    .menu-link {
      opacity: 1;

      &:not(:last-child) {
        margin-right: 56px;
      }
    }
  }

  @media (hover: hover) {
    .menu-link:hover {
      text-decoration: underline;
      text-decoration-thickness: 2px;
    }
  }
}
